@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* scroll-behavior: smooth; */
  --primary: #6984ff;
}

.scroll__container::-webkit-scrollbar {
  display: none;
}

.swiper,
.swiper-slide {
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet {
  background: #fff !important;
}
.swiper-pagination-bullet-active {
  background: var(--primary) !important;
}
